/* ------------ Cabeçalho ------------ */

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;   
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

/* ------------ Página Home ------------ */

.principal {
    padding: 30px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.banner {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.banner:hover {
    transform: scale(1.02);
}

.texto-sobre {
    padding: 15px;
    margin: 10px;
    position: absolute;
    border: 2px solid #000000;
    border-top: 5px solid #000000;
    border-radius: 10px;
}

.titulo-centralizado {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

span p {
    font-size: 18px;
    text-align: center;
}

.missao {
    font-size: 24px;
    margin: 10px 0 10px 0;
}

em strong {
    color: #FF0000;
}

.beneficios {
    padding: 30px;
    position: relative;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
}


.conteudo-beneficios {
    position: absolute;
    margin: 10px;
    padding: 15px;
    border: 2px solid #000000;
    border-top: 5px solid #000000;
    border-radius: 10px;
    width: 370px;
} 

.itens {
    font-style: italic;
    font-size: 24px;
    margin: 15px 0 15px 0;
}

.itens:hover {
    color: #C78C19;
    font-size: 30px;
}


.lista-beneficios {
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    position: absolute;
    width: 782px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    right: 0px;
}

.imagem-beneficios:hover {
    transform: scale(1.02);
}

/* ------------ Página Produtos ------------ */

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; 
    border: 2px solid #000000;
    border-top: 5px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
    
}

.produtos li:active {
    border-color: #088C19
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* ------------ Página Contato ------------ */

.contato {
    width: 940px;
    margin: 0 auto;
    
}

form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0 20px 0;
}

/* ------------ Rodapé ------------ */

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}
